:root{                                      /* https://developer.mozilla.org/en-US/docs/Web/CSS/:root  */
    font-size: 16px; 
    font-family: 'Sriracha', cursive;
}

body{
    background-color: #f1f1f1;
    display: grid;
    grid-template-rows: 17% 83%;          /* https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-rows */
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

header{
    margin-top: 40px;
    margin-left: 160px;
    margin-right: 180px;
    display: grid;
    grid-template-columns: 30% 70%;           /* https://www.w3schools.com/cssref/tryit.asp?filename=trycss_grid-template-rows */
    background-color: rgb(201, 221, 245);
}

.present a{
    display: grid;
    grid-template-rows: 30px;
    padding-left: 15px;
    font-size: 10px;
    text-decoration: none;
}    

.who {    
    color:  rgba(12, 31, 92, 0.76);
    
}

.what {
    color:  rgba(134, 94, 42, 0.76);
    
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}    

.menu a{
    padding-right: 50px;
    font-size: 23px;
    color:  rgba(11, 73, 68, 0.76);
    text-decoration: none;
}    

#contact .activ {
    font-size: 30px;
}
.contact_page {
    margin-left: 160px;
    margin-right: 180px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(247, 221, 203);
    padding: 40px 60px 10px 60px;
}   

.contact_page h1 {
    color: rgb(49, 80, 138);
    font-size: 35px;

} 

.contact_info ul{
    list-style-type: none;
    padding-left: 5px;
    font-size: 22px;
}

.contact_links h3{
    color: rgb(150, 50, 50);
    font-size: 20px;
}
