:root{
    font-size: 16px; 
    font-family: 'Sriracha', cursive;
}


body{
    background-color: #f1f1f1;
    display: grid;
    grid-template-rows: 21% 79%;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

header{
    margin-top: 40px;
    margin-left: 160px;
    margin-right: 180px;
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: rgb(201, 221, 245);
}

.present a{
    display: grid;
    grid-template-rows: 30px;
    padding-left: 15px;
    font-size: 10px;
    text-decoration: none;
}    

.who {    
    color:  rgba(12, 31, 92, 0.76);
    
}

.what {
    color:  rgba(134, 94, 42, 0.76);
    
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}    

.menu a{                                           
    padding-right: 50px;
    font-size: 23px;
    color:  rgba(11, 73, 68, 0.76);
    text-decoration: none;
}    

#practise .activ {
    font-size: 30px;
}
.practise_page {
    margin-left: 160px;
    margin-right: 180px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(247, 221, 203);
    padding: 30px 40px 10px 33px;
}   

.practise_page h1 {
    color: rgb(49, 80, 138);
    font-size: 25px;

} 

.practise_page ul, h3, p {
    font-family: 'Rufina', serif;
    font-size: 18px;

} 

.law li{
    padding-bottom: 30px;

}
.law ul{
    list-style-type: none;
    padding-left: 5px;
}

.Autor_transl {
    padding-top: 85px;
    padding-left: 10px;
}

.Autor_transl p {
    padding-bottom: 30px;
}

.work_lang h1 {
    text-align: center;
}

.flags img{
    float: left;
    margin-right: 10px;
}


